<?xml version="1.0"?>

<!--
    ================ Le Manchot =================
    == Project | Le Manchot                    ==
    == Author  | Parham Nooralishahi           ==
    == Contact | parham.nooralishahi@gmail.com ==
    == Organization | Laval University         ==
    =============================================
-->

<launch>
    <arg name="thermal_serial_no" default="85901153"/>
    <arg name="thermal_node_name" default="phm_flir_spinnaker"/>
    <arg name="calibration_file"  default="file://$(find ros_flir_spinnaker)/camera_info/calibration_example.yaml" />
    <arg name="thermal_topic"     default="thermal_camera/image" />
    <group ns="phm">
        <param name="serial" type="str" value="$(arg thermal_serial_no)"/>
        <node pkg="ros_flir_spinnaker" name="calibration_publisher" type="calibration_publisher_node" output="screen">
            <remap from="thermal_topic"   to="$(arg thermal_topic)" />
            <param name="camera_info_url" value="$(arg calibration_file)"/>
            <param name="camera_name"     value="thermal_flir"/>   <!-- set camera name -->
        </node>

        <node name="image_proc" pkg="image_proc" type="image_proc" />

    </group>

</launch>